[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "multifwf"]
	path = multifwf
	url = https://github.com/prontog/multifwf
	shallow = true
	registered = true
